<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://knockoutjs.com/downloads/knockout-3.5.1.js"></script>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


<html>
    	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
    	font-family: Arial;
    	color: black;
        background-color:#90EE90;
    }

    </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
              <div class="col-9" style= "background-color:#90EE90">
                <style>
                    #map {
                        width: 75%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 30%;
                        left: 0;
                    
                        
                    }
                </style>
                <div id="map">
                <script>
                    var data = [{FirstName:"Викентий",LastName:"Осоргин","Patronimyc":"Эдгардович","Position":{"Lat":41.31266754055873,"Lng":69.21251870096235},"Target":null,"Home":null},{"FirstName":"Арианда","LastName":"Тюльпанова","Patronimyc":"Жоресовна","Position":{"Lat":41.312219320076885,"Lng":69.24172115067918},"Target":null,"Home":null},{"FirstName":"Поликарп","LastName":"Устинов","Patronimyc":"Денисович","Position":{"Lat":41.313386847444235,"Lng":69.25407230010033},"Target":null,"Home":null}]
                    var map = L.map('map', 
                    {
                        center: [41.319316, 69.246548],
                        zoom: 13
                    });
                
    
                function onMapClick(e)	
                {
                    popup
                    .setLatLng(e.latlng)
                    .setContent("You clicked the map at " + e.latlng.toString())
                    .openOn(map);
                }
                map.on('click', onMapClick);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', 
                {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
                </script>
            </div>
              </div>
              <script></script>
              <div class="col-sm" size = "fluid" style= "background-color:#90EE90">
                
                <div class="row-md-3 themed-grid-col" style = "font-size:30px"><span data-bind = "text: firstName"></span></div>
                <div class="row-md-4 themed-grid-col">
                    <input type="button" id="btnAdd1" value="Маршрут" style= "background-color:#87CEEB">
                    <p id="fooBar1"></p>

                    <script>
                        var button = document.querySelector("#btnAdd1");
                        function once() {
                            
                            // Создаем переменную для хранения статической точки координат
var staticPoint = L.latLng(data[0].Position.Lat,data[0].Position.Lng)

// Создаем переменную для хранения динамической точки координат
var dynamicPoint = L.latLng(data[0].Position.Lat,data[0].Position.Lng);

// Создаем маркеры на карте с этими точками координат
var staticMarker = L.marker(staticPoint).addTo(map);
var dynamicMarker = L.marker(dynamicPoint).addTo(map);

// Создаем маршрут на карте с этими точками координат
var route = L.Routing.control ({
  waypoints: [
    staticPoint,
    dynamicPoint
  ]
}).addTo(map);

// Создаем функцию, которая будет случайным образом изменять координаты динамической точки в небольшом радиусе относительно статической точки
function changePoint() {
  // Генерируем случайный угол от 0 до 2π
  var randomAngle = Math.random() * 2 * Math.PI;

  // Генерируем случайную скорость от 0.0001 до 0.001
  var randomSpeed = Math.random() * 0.00009 + 0.00001;

  // Вычисляем смещение по широте и долготе на основе угла и скорости
  var deltaLat = Math.sin(randomAngle) * randomSpeed;
  var deltaLng = Math.cos(randomAngle) * randomSpeed;

  // Прибавляем смещение к текущим координатам динамической точки
  var newLat = dynamicPoint.lat + deltaLat;
  var newLng = dynamicPoint.lng + deltaLng;

  // Создаем новый объект L.latLng с новыми координатами
  var newPoint = L.latLng(newLat, newLng);

  // Вычисляем расстояние между новой и статической точкой в метрах
  var distance = newPoint.distanceTo(staticPoint);

  // Проверяем, не превышает ли расстояние максимального значения, например, 1000 метров
  if (distance > 1000) {
    // Если превышает, то отражаем новую точку относительно статической точки, чтобы она не уходила слишком далеко
    var reflectLat = staticPoint.lat - (newLat - staticPoint.lat);
    var reflectLng = staticPoint.lng - (newLng - staticPoint.lng);
    // Создаем новый объект L.latLng с отраженными координатами
    var reflectPoint = L.latLng(reflectLat, reflectLng);
    // Обновляем переменную dynamicPoint с отраженной точкой
    dynamicPoint = reflectPoint;
  } else {
    // Если не превышает, то обновляем переменную dynamicPoint с новой точкой
    dynamicPoint = newPoint;
  }

  dynamicMarker.setLatLng(dynamicPoint);

// Обновляем маршрут на карте с новой точкой
route.setWaypoints([
  staticPoint,
  dynamicPoint
]);
}

// Создаем интервал, который будет вызывать функцию changePoint каждую секунду
var interval = setInterval(changePoint, 1000);

    
                            button.removeEventListener("click", once);
                                }
                        button.addEventListener("click", once);
                      </script>


                


                
                

                
                
                
                                

            </div>
    
        </div>

        


        <script>
	    var ViewModel = function(first, last,third) {
        this.firstName = ko.observable(first);
	    this.lastName = ko.observable(last);
	    this.thirdName = ko.observable(third);
        };	
	    var fName,lName,tName;

	    var fName = data[0].FirstName +" "+ data[0].LastName+" "+data[0].Patronimyc+" ";



        ko.applyBindings(new ViewModel(fName,lName,tName));
        </script>
    </body>
</html>